<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Default&nbsp;<i class="fa fa-caret-down"></i></button>
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" style="background-color: white; color: black; ">light</a></li>
        <li><a href="javascript:void(0)" style="background-color: #f8f8f8; color: black; ">stable</a></li>
        <li><a href="javascript:void(0)" style="background-color: #387ef5; color: white; ">Positive</a></li>
        <li><a href="javascript:void(0)" style="background-color: #11c1f3; color: white; ">Calm   action</a></li>
        <li><a href="javascript:void(0)" style="background-color: #33cd5f; color: white; ">balanced</a></li>
        <li><a href="javascript:void(0)" style="background-color: #ffc900; color: white; ">energized</a></li>
        <li><a href="javascript:void(0)" style="background-color: #ef473a; color: white; ">assertive</a></li>
        <li><a href="javascript:void(0)" style="background-color: #886aea; color: white; ">royal</a></li>
        <li><a href="javascript:void(0)" style="background-color: #444444; color: white; ">dark</a></li>
    </ul>
</div>
