<!-- Open Sans font from Google CDN -->
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css"> -->
<!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
-->
<div class="theme-default page-signin">
    <!-- Demo script -->
    <!-- <script src="assets/demo/demo.js"></script>  -->
    <!-- / Demo script -->
    <!-- Page background -->
    <div id="page-signin-bg">
        <!-- Background overlay -->
        <div class="overlay"></div>
        <!-- Replace this with your bg image -->
        <img src="/assets/demo/signin-bg-1.jpg" alt="" style="width:100%; height:100%;">
    </div>
    <!-- / Page background -->
    <!-- Container -->
    <div class="signin-container">

        <!-- Left side -->
        <div class="signin-info">
            <a href="index.html" class="logo">
                <img src="/assets/demo/logo-big.png" alt="" style="margin-top: -5px;">&nbsp;
                TopicAdmin
            </a> <!-- / .logo -->
            <div class="slogan">
                Simple. Flexible. Powerful.
            </div> <!-- / .slogan -->
            <ul>
                <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
                <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
                <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
                <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
            </ul> <!-- / Info list -->
        </div>
        <!-- / Left side -->
        <!-- Right side -->
        <div class="signin-form">

            <!-- Form -->
            <form action="index.html" id="signin-form_id">
                <div class="signin-text">
                    <span>Sign In to your account</span>
                </div> <!-- / .signin-text -->

                <div class="form-group w-icon">
                    <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Username">
                    <span class="fa fa-user signin-form-icon"></span>
                </div> <!-- / Username -->

                <div class="form-group w-icon">
                    <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password">
                    <span class="fa fa-lock signin-form-icon"></span>
                </div> <!-- / Password -->

                <div class="form-actions">
                    <input type="submit" value="登录" class="signin-btn bg-primary">
                    <!-- <a href="#" class="forgot-password" id="forgot-password-link">Forgot your password?</a> -->
                </div>
                <!-- / .form-actions -->
            </form>
            <!-- / Form -->


        </div>
        <!-- Right side -->
    </div>
    <!-- / Container -->
   <!-- <script src="/assets/javascripts/jquery-1.11.2.js"></script>-->

    <!-- Pixel Admin's javascripts -->
    <!--<script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/pixel-admin.min.js"></script>-->

</div>
