<div>
    <div class="table-light">
        <div class="table-header">
            <div class="table-caption">
                专题列表
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>专题名称</th>
                    <th>地址</th>
                    <th>二维码</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><i class="fa fa-qrcode"></i></td>
                    <td>Otto</td>

                    <td>
                        <button class="btn btn-success btn-xs">Extra small</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><i class="fa fa-qrcode"></i></td>
                    <td>Otto</td>
                    <td>
                        <button class="btn btn-success btn-xs">Extra small</button></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td><i class="fa fa-qrcode"></i></td>
                    <td>Otto</td>

                    <td>
                        <button class="btn btn-success btn-xs">Extra small</button></td>

                </tr>
            </tbody>
        </table>
        <div class="table-footer">
            Footer
        </div>
    </div>
</div>
