<style>
    #signin-demo {
        /*position: fixed;
        right: 0;
        bottom: 0;*/
        z-index: 1;
        background: rgba(0,0,0,.6);
        padding: 6px;
        border-radius: 3px;
        padding-bottom: 6px;
    }

        #signin-demo img {
            cursor: pointer;
            height: 60px;
        }

            #signin-demo img:hover {
                opacity: .5;
            }

        #signin-demo div {
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            padding-bottom: 6px;
        }
</style>


<link href="/assets/stylesheets/preview.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <div class="wizard ui-wizard-example">
            <div class="wizard-wrapper">
                <ul class="wizard-steps">
                    <li data-target="#wizard-example-step1" ng-class="{active:stepDict.isStep1,completed:!stepDict.isStep1}">
                        <span class="wizard-step-number">1</span>
                        <span class="wizard-step-caption">Step 1
                            <span class="wizard-step-description">Basic information configuration</span>
                        </span>
                    </li>
                    <li data-target="#wizard-example-step2" ng-class="{active:stepDict.isStep2,completed:!stepDict.isStep2}">
                        <!-- ! Remove space between elements by dropping close angle -->
                        <span class="wizard-step-number">2</span>
                        <span class="wizard-step-caption">Step 2
                            <span class="wizard-step-description">Content management</span>
                        </span>
                    </li>
                    <li data-target="#wizard-example-step3" ng-class="{active:stepDict.isStep3,completed:!stepDict.isStep3}">
                        <!-- ! Remove space between elements by dropping close angle -->
                        <span class="wizard-step-number">3</span>
                        <span class="wizard-step-caption">Step 3
                            <span class="wizard-step-description">Page of submit content configuration </span>
                        </span>
                    </li>
                    <li data-target="#wizard-example-step4" ng-class="{active:stepDict.isStep4,completed:!stepDict.isStep4}">
                        <!-- ! Remove space between elements by dropping close angle -->
                        <span class="wizard-step-number">4</span>
                        <span class="wizard-step-caption">Finish
                        </span>
                    </li>
                </ul>
                <!-- / .wizard-steps -->
            </div>
            <!-- / .wizard-wrapper -->
            <div class="wizard-content panel">
                <div class="wizard-pane" id="wizard-example-step1" style="display: block">
                    <div class="col-sm-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputTopicName" class="col-sm-2 control-label">专题名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputTopicName" placeholder="Topic Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">模版类型</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="tmplsRadios" ng-model="Topic.TplType" value="1" checked>
                                            标签页样式
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="tmplsRadios" ng-model="Topic.TplType" value="2">
                                            切换页样式
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-sm-2 control-label">提交方式</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="submitWayRadios" value="option1" checked="">
                                            本站提交
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label class="form-inline">
                                            <input type="radio" name="submitWayRadios" id="targetRadio" value="option1" checked="">
                                            跳转至指定页面
                                            <input type="text" class="form-control" id="targetUrl" placeholder="http://">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">需填信息</label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-default span4" data-max-length="11" data-alltext="全部" data-max-length-html="已选择" placeholder="请选择" ng-model="SelectedRequiredInfo" data-html="1" data-multiple="1" data-animation="am-flip-x" container="body" ng-options="require.key as require.value for require in requireInfo" bs-select>
                                        <span class="caret"></span>
                                    </button>
                                    <label style="padding-top: 5px; color:red;" ng-show="hasInfo">请至少选择一项需填信息</label>

                                </div>
                            </div>-->
                        </form>
                    </div>

                    <button class="btn btn-primary wizard-next-step-btn" ng-click="goStep(2)">下一步</button>
                </div>
                <!-- / .wizard-pane -->
                <div class="wizard-pane" id="wizard-example-step2" style="display: none;">
                    <div class="row" ng-show="Topic.TplType == 1">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="device-preview">
                                <!--<div id="example-header" class="ionic-body active-preview">
                       // http://localhost:9055/html/blank.html
                </div>-->
                                <iframe id="prevFrame" sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms" allowtransparency="true" src="http://192.168.1.109:8001/#/tab/dash" frameborder="0" class="ionic-body active-preview"></iframe>
                            </div>
                            <!--http://192.168.1.109:8001/#/tab/dash
                http://192.168.1.109:8002/demos/03-vertical.html
            http://localhost:9055/html/signin.html-->
                            <!--<button type="button" ng-click="test()">show</button>-->
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div id="signin-demo" class="col-xs-12 col-sm-12 col-md-12 hidden-sm">
                                        <div>模版选择</div>
                                        <img src="assets/demo/signin-bg-1.jpg">
                                        <img src="assets/demo/signin-bg-2.jpg">
                                        <img src="assets/demo/signin-bg-3.jpg">
                                        <img src="assets/demo/signin-bg-4.jpg">
                                        <img src="assets/demo/signin-bg-5.jpg">
                                        <img src="assets/demo/signin-bg-6.jpg">
                                        <img src="assets/demo/signin-bg-7.jpg">
                                        <img src="assets/demo/signin-bg-8.jpg">
                                        <img src="assets/demo/signin-bg-9.jpg">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTopicName" class="col-sm-2 control-label">标签个数</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputTopicName" placeholder="标签个数(1-9)" min="1" max="9" required ng-model="Topic.PageCount">
                                    </div>
                                </div>
                                <div class="panel widget-followers">
                                    <div class="panel-heading">
                                        <span class="panel-title"><i class="panel-title-icon fa fa-bars"></i>标签配置</span>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-body">

                                        <div class="follower" ng-repeat="page in Pages">
                                            <div class="form-group">

                                                <label for="inputTopicName" class="col-sm-2 control-label">标签标题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputTopicName" placeholder="标签标题" required ng-model="page.Title">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputTopicName" class="col-sm-2 control-label">标签内容</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="3" placeholder="标签内容" ng-model="page.Content"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="row" ng-show="Topic.TplType == 2">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="device-preview">
                                <!--<div id="example-header" class="ionic-body active-preview">
                       // http://localhost:9055/html/blank.html
                </div>-->
                                <iframe id="prevFrame" sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms" allowtransparency="true" src="http://192.168.1.109:8001/#/tab/dash" frameborder="0" class="ionic-body active-preview"></iframe>
                            </div>
                            <!--http://192.168.1.109:8001/#/tab/dash
                http://192.168.1.109:8002/demos/03-vertical.html
            http://localhost:9055/html/signin.html-->
                            <!--<button type="button" ng-click="test()">show</button>-->
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div id="signin-demo" class="col-xs-12 col-sm-12 col-md-12 hidden-sm">
                                        <div>模版选择</div>
                                        <img src="assets/demo/signin-bg-1.jpg">
                                        <img src="assets/demo/signin-bg-2.jpg">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTopicName" class="col-sm-2 control-label">页面数量</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" id="inputTopicName" placeholder="标签个数(1-9)" min="1" max="9" required ng-model="Topic.PageCount">
                                    </div>
                                </div>
                                <div class="panel widget-followers">
                                    <div class="panel-heading">
                                        <span class="panel-title"><i class="panel-title-icon fa fa-bars"></i>页面配置</span>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-body">

                                        <div class="follower" ng-repeat="page in Pages">
                                            <div class="form-group">

                                                <label for="inputTopicName" class="col-sm-2 control-label">标签标题</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputTopicName" placeholder="标签标题" required ng-model="page.Title">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputTopicName" class="col-sm-2 control-label">标签内容</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="3" placeholder="标签内容" ng-model="page.Content"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <button class="btn wizard-prev-step-btn" ng-click="goStep(1)">上一步</button>
                    <button class="btn btn-primary wizard-next-step-btn" ng-click="goStep(3)">下一步</button>
                </div>
                <!-- / .wizard-pane -->
                <div class="wizard-pane" id="wizard-example-step3" style="display: none;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="device-preview">
                                <!--<div id="example-header" class="ionic-body active-preview">
                                        // http://localhost:9055/html/blank.html
                                    </div>-->
                                <iframe id="prevFrame" sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms" allowtransparency="true" src="http://192.168.1.109:8001/#/tab/dash" frameborder="0" class="ionic-body active-preview"></iframe>
                            </div>
                            <!--http://192.168.1.109:8001/#/tab/dash
                                http://192.168.1.109:8002/demos/03-vertical.html
                                http://localhost:9055/html/signin.html-->
                            <!--<button type="button" ng-click="test()">show</button>-->
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
                            <form class="form-horizontal">
                                <div class="panel widget-followers">
                                    <div class="panel-heading">
                                        <span class="panel-title"><i class="panel-title-icon fa fa-bars"></i>提交配置</span>
                                    </div>
                                    <!-- / .panel-heading -->
                                    <div class="panel-body">

                                        <div class="follower">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">提交方式</label>
                                                <div class="col-sm-10">
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="submitWayRadios" ng-model="Topic.SubmitType" value="1" checked>
                                                            本站提交
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label class="form-inline">
                                                            <input type="radio" name="submitWayRadios" ng-model="Topic.SubmitType" id="targetRadio" value="2">
                                                            跳转至指定页面
                                                            <input type="text" class="form-control" ng-model="Topic.RedirectUrl" id="targetUrl" placeholder="http://" ng-disabled="Topic.SubmitType == 1">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="follower" ng-show="Topic.SubmitType == 1">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">需填信息</label>
                                                <div class="col-sm-10">
                                                    <button type="button" class="btn btn-default span4" data-max-length="11" data-alltext="全部" data-max-length-html="已选择" placeholder="请选择" ng-model="SelectedRequiredInfo" data-html="1" data-multiple="1" data-animation="am-flip-x" container="body" ng-options="require.key as require.value for require in requireInfo" bs-select>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <label style="padding-top: 5px; color: red;" ng-show="hasInfo">请至少选择一项需填信息</label>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="follower">
                                            <button class="btn btn-success">刷新预览</button>
                                        </div>

                                        <div class="follower">
                                            <button class="btn wizard-prev-step-btn" ng-click="goStep(2)">上一步</button>
                                            <button class="btn btn-primary wizard-next-step-btn" ng-click="goStep(4)">下一步</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
            <div class="wizard-pane" id="wizard-example-step4" style="display: none;">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel colourable">
                            <div class="panel-heading">
                                <span class="panel-title">Congratulations!</span>
                                <div class="panel-heading-controls">
                                    <!--<span class="label label-tag label-warning">Tag</span>
                                    <span class="label label-danger">Label</span>
                                    <span class="badge badge-info">Badge</span>-->
                                </div>
                            </div>
                            <!-- / .panel-heading -->
                            <div class="alert alert-page alert-success alert-dark">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Well done!</strong> 新的专题页面已经生成，你可以通过以下方式查看！
                            </div>
                            <!-- / .alert -->
                            <div class="panel-body">
                                <div class="note note-info">浏览器直接查看Web版 <a href="http://digitalbush.com/projects/masked-input-plugin/" target="_blank">http://digitalbush.com/projects/masked-input-plugin/</a></div>

                                <div class="note note-info">通过二维码查看 <a href="http://digitalbush.com/projects/masked-input-plugin/" target="_blank">http://digitalbush.com/projects/masked-input-plugin/</a></div>
                            </div>
                        </div>

                        <!--<button class="btn wizard-prev-step-btn" ng-click="goStep(3)">上一步</button>-->
                        <button class="btn btn-primary wizard-next-step-btn">完成</button>
                    </div>
                    <!-- / .wizard-pane -->
                </div>
            </div>

            </div>
            <!-- / .wizard-pane -->
            <!-- / .wizard-content -->
        </div>
        <!-- / .wizard -->
    </div>
</div>

<script>
    // Change theme
    $('#demo-themes .demo-theme').on('click', function () {
        if ($(this).hasClass('active')) return;
        $('#demo-themes .active').removeClass('active');
        $(this).addClass('active');
        //demo_settings.theme = $(this).attr('data-theme');
        //saveDemoSettings();
        //activateTheme($('#main-menu .btn-outline'));
        return false;
    });
</script>

<!--<script src="/assets/javascripts/bootstrap.min.js"></script>
<script type="text/javascript-lazy">
    console.log("It works!");
    window.jQuery || document.write('<script src="/assets/javascripts/jquery-1.11.2.js">' + "<" + "/script>");
    //document.write('<script src="/assets/javascripts/pixel-admin.min.js">' + "<" + "/script>");
    //document.write('<script src="/assets/javascripts/bootstrap.min.js">' + "<" + "/script>");
</script>-->
